<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaGaraje.My.MySettings.SisGarConnectionString"
            connectionString="Data Source=DESKTOP-M1LMKE3\SQLEXPRESS;Initial Catalog=SisGar;User ID=sa;Password=Alberto01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>